---
layout: default
---

{% if site.ad %}
  {% include ad.html %}
{% endif %}

{{ content }}

<div class="nav-foot">
  {% for item in site.nav-foot %}
    {% if item.id %}
      <div id="{{ item.id }}">
        <script>
          var con = document.getElementById('{{ item.id }}')
          var tar = "{{ item.link }}"
          if (!window.location.pathname.endsWith('{{ item.con }}')) {
            tar = "{{ item.other }}"
          }
          con.insertAdjacentHTML('afterbegin',
              "<a href=" + tar + " class=\"nav-foot-link\">{{ item.name }}</a>")
        </script>
      </div>
    {% else %}
      <div>
        <a href="{{ site.baseurl }}{{ item.link }}" class="nav-foot-link">{{ item.name }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>